@import url('bootstrap');


body {
  font-family: 'Open Sans Variable', sans-serif;
}

.content {
  background-color: rgba(28, 28, 28);
}

.jumboimg {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top
}

.ComicImg {
  width: 100px;
  height: 100px;

}

.buttComic {

  margin: 1rem auto;
  width: 20rem;

}

footer {
  background-image: url("./assets/img/footer-bg.jpg");
  
}

a {
  text-decoration:none
   ;
}

ul {
  list-style-type: none;
  text-decoration-color: none;
}

.badge {
 position: absolute;
 left: 450px;
 border-radius: none;
 top: 250px;
 font-size: 1rem;
 
}